@media (max-width: 320px) {

    .headerServices {
        width: 100%;
        min-width: 320px;
        height: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__boxNavbar {
            display: none;
        }

        &__boxNavbar_mobil {
            /* width: 292px; */
            width: 100%;
            height: 72px;
            background: rgb(19, 61, 141);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__navbarBox_mobil {
            width: 292px;
            height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo_mobil {
            width: 96.7px;
            height: 30px;
        }

        &__menu_mobil {
            width: 27px;
            height: 18px;

        }

        &__content {
            width: 292px;
            height: 338px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 120px;
        }
    }

    .navbarBox_mobil {

        &__boxLogo {
            width: 96.7px;
            height: 30px;
        }

        &__boxMenu {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .mainServices {
        width: 100%;
        min-width: 320px;

        &__bigBox {
            width: 100%;
            min-width: 320px;
            margin-top: 80px;
        }

        &__title {
            width: 292px;
            height: 90px;
            margin: 0 auto;
            /* mobile/h/32l */
            color: rgb(51, 51, 51);
            font-family: 'Roboto';
            font-size: 32px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 5%;
            text-align: center;
            text-transform: uppercase;
        }

        &__boxContent {
            width: 292px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        &__boxText {
            width: 292px;
            margin: 80px auto 0px auto;
        }

        &__breadCrumbs {
            width: 292px;
            height: 18px;
            justify-content: flex-start;
            gap: 15px;
        }

        &__citate {
            width: 292px;
            height: 464px;
            margin-top: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

        }

        &__text {
            width: 252px;
            height: 454px;
            margin: 0;
            padding: 0;


            & p {
                /* p/14r */
                color: rgb(51, 51, 51);
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        &__boxIndicators {
            display: none;
        }

        &__oil {
            width: 292px;
        }
    }

    .oil {

        &__title {
            width: 292px;
            height: 50px;
        }
    }
}